.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  padding: 80px;
  gap: 64px;
  font-family: monospace;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brain {
  margin-top: 100vh;
  height: 40vh;
  width: 110vh;
  background-image: url("/images/brain-image.webp"); 
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxContainer {
  display: flex;
  flex-direction: row; 
  gap: 2vh;
  margin-top: 2vh;
  align-items: flex-start;
}

.aboutMe {
  flex-shrink: 1;
  height: 60vh;
  width: 60vh;
  background-image: url("/images/gwoomy.webp");
  background-size: cover;
  background-position: center;
  border: rgb(255, 0, 195) 1vh solid;
}

.name {
  color: #000000;
  border: rgb(0, 0, 0) 1vh solid;
  background-color: rgb(255, 0, 195);
  padding: 1vh;
}

.aboutContainer {
  display: flex;
  align-items: center;
  gap: 2vh;
  flex-direction: column;
}

.selfieMusic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vh;
}

.aslContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  margin-top: 2vh;
  position: relative;
}

.selfie {
  height: 30vh;
  width: 30vh;
  border: rgb(0, 0, 0) 1vh solid;
}

.asl {
  color: #000000;
  font-size: 2vh;
  border: rgb(0, 0, 0) 1vh solid;
  background-color: rgb(255, 0, 170);
  padding: 1vh;
  flex-direction: column;
}

.marioStar {
  height: 15vh;
  width: 15vh;
}

.onlineNow {
  height: 9vh;
  width: 17vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.amy {
  height: 15vh;
  width: 10vh;
  margin-top: 5vh;
}

.music {
  width: 80%;
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #000;
}

.diary {
  flex-shrink: 1;
  height: 70vh;
  width: 60vh;
  background-image: url("/images/gwoomy.webp");
  background-size: cover;
  background-position: center;
  border: rgb(255, 0, 195) 1vh solid;
}

.brainLink {
  color: rgb(255, 0, 195);
}

.promo {
  text-align: center;
}
.diaryContainer {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.diaryLogo {
  width: 50vh;
  height: 20vh;
}

.diaryBox {
  height: 45vh;
  width: 50vh;
  background-color: #000;
  margin-top: 2vh; 
  overflow: scroll;
}

.diaryBoxContainer {
  display: flex;
  flex-direction: column;
}

.diaryText {
  text-align: center;
}

.dateMood {
  color: rgb(255, 0, 195);
}

.mew {
  height: 24vh;
  width: 20vh;
}



/* Desktop Layout */
@media (min-width: 957px) {
  .aboutContainer {
    flex-direction: row; /* Place selfieMusic and aslContainer side-by-side */
    gap: 3vh;
  }
}

/* Mobile Layout */
@media (max-width: 956px) {
  .page {
    margin-top: 45vh; 
    height: 100vh;
    padding: 32px; 
  }

  .brain {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
  }

  .boxContainer {
    display: flex;
    flex-direction: column; /* Stack items vertically on mobile */
    align-items: center;
    gap: 2vh;
    height: auto;
  }

  .aboutMe, .diary {
    width: 80vw;
    height: auto;
  }

  .selfie {
    height: 35vh;
    width: 35vh;
    margin: 0 auto; 
    margin-top: 3vh;
}


  .marioStar {
    height: 10vh;
    width: 10vh;
  }

  .name {
    color: #000000;
    border: rgb(0, 0, 0) 1vh solid;
    background-color: rgb(255, 0, 195);
    padding: 1vh;
  }

  .aslContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    margin-top: 2vh;
  }

  .aboutContainer {
    flex-direction: column;
  }

  .diary {
    height: 70vh;
  }

  .diaryLogo {
    width: 30vh;
    height: 20vh;
  }

  .diaryBox {
    height: 45vh;
    width: 35vh;
    background-color: #000;
    margin-top: 2vh; 
    overflow: scroll;
  }


  .musicPlayer {
    text-align: center;
  }
}
